# App
NODE_ENV=production
PORT=3000
CORS_ORIGINS=http://localhost:3001,https://toursanatolia.com,https://www.toursanatolia.com

# Postgres
DB_TYPE=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=turk-travel

# TypeORM
TYPEORM_SYNC=true
TYPEORM_LOGGING=false
TYPEORM_EXECUTIONTIME=1000
RUN_MIGRATIONS=false
DROP_SCHEMA=false

# Admin
ADMIN_TOKEN=secret-token
